/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    /* --primary-color: rgb(46, 122, 87) (40, 94, 64);  */
    --primary-color: rgb(53, 105, 81);
    --secondary-color: rgb(191, 227, 207); /* light aqua */
    --accent1-color-bk: rgb(6, 66, 115, 0.7); /* deep sea blue */
    --accent1-color: rgb(6, 66, 115);
    --accent2-color: rgb(255, 250, 205);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 90px 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
    border-bottom: 2px solid var(--accent2-color);
    max-width: 1000px;
}

header img {
    width: 85px;
    /* display:inline; */
    margin: 0px;
    /* border: 1px solid rgb(6, 66, 115) */
}

#logo {
    font-size: 2rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
    align-items: center;
}

/* nav {
    background-color: var(--accent2-color);
    width: 100%;
} */

/* nav ul li{
    display: inline-block;
    padding: 10px;
    background-color: var(--accent2-color);
} */

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

article {
    position: absolute;
    bottom: 5px;
    width: 90%;
    left: 1.5rem;
    padding: 10px;
    text-align: left;
    background-color: var(--accent1-color-bk);
    /* color: antiquewhite; */
    color: var(--secondary-color);
}

article p{
    margin:8px;
}

nav, p, section {
    margin-top: 16px;
    padding-bottom:8px;
}

h2{
    text-align: center;
    /* background-color: var(--accent2-color); */
    padding: 1rem;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}  

form{
    position: relative;
    float: right;
    width: 50%;
    margin: 10px;
    margin-right: 0;
    background-color: var(--accent2-color);
}

textarea {
    width: 92%;
    grid-column: span 3;
    border-radius: .25rem;
    resize:vertical;
    margin-left: 30px;
}

aside {
    background-color: var(--accent2-color);
    width: 48%;
    border: 2px solid var(--primary-color);
    border-radius: .25rem;
}

aside p {
    text-align: center;
    margin: 3px;
}

aside img {
    width: 48%;
    padding-left: 5px;
    padding-bottom: 3px;
    margin-left: 2.5px;
}

button {
    width:90%;
    border: none;
    border-radius: .25rem;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin-bottom: .5rem;
    margin-left: 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent1-color);
    color:var(--secondary-color);
}

/* Class Selectors */

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
    
.navigation li {
    flex: 1 1 auto;
}

.head h1 {
    position: absolute;
    bottom: 350px;
    width: 100%;
    padding: 20px;
    text-align: center;
    /* opacity: 0.7; */
    background-color: var(--accent1-color-bk);
    /* color: antiquewhite; */
    color: var(--secondary-color);
}

.history {
    width: 840px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: var(--secondary-color);
}

.history h2 {
    grid-column: span 3;
    padding-bottom: 0px;
}

.history img {
    width: 250px;
    padding: 1rem;
    place-self: center;
}

.history p {
    padding: 1rem;
    text-align: center;
}

.trips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 15px;
    width: 840px;
    background-color: var(--secondary-color);
}
    
.trips h2 {
    grid-column: span 5;
}

.trips figure{
    display: inline-block;
}

.trips img{
    width: 150px;
}

.trips figcaption {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.site-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialmedia a{
    text-decoration: none;
}

.socialmedia img{
    display: inline-block;
    width:35px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    /* padding: 10px; */
    opacity: 1.0;
    border: 1px solid var(--accent1-color);
    box-shadow: 0 0 20px #021a2d;
}

.f-2 {
    margin: 0;
    margin-right: 0;
    border: 2px solid var(--primary-color);
    border-radius: .25rem;
}

.news {
    /* border: 2px solid var(--primary-color); */
    border-radius: .15rem;
    border-bottom: 1px solid var(--primary-color);
    display: grid;
    height: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 20%;
}

.news h2 {
    margin: 0;
    padding:5px;
    padding-bottom: 0;
}

.discount {
    padding-top: 0;
    padding-bottom: 3px;
    text-align: center;
    border:none;
    font-size: small;
    color: var(--primary-color);
}

.alert {
    margin-left: 15px;
    margin-bottom: 5px;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 0.85rem;
}

.book {
    background-color: var(--secondary-color);
    display:grid;
    grid-template-columns: 210px 1fr;
}

.book h2 {
    grid-column: span 3;
    padding-bottom: 0;
}

.book img {
    width: 200px;
    margin: 10px;
}

.book p {
    margin: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 1fr;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

.info h1 {
    grid-column: span 3;
    /* color: var(--secondary-color); */
    /* width: 840px; */
    padding:0;
    padding-bottom: 7px;
    bottom: 0;
    margin: 0;
    font-size: xx-large;
    font-weight: 200;
    color: var(--secondary-color);
    text-align: center;
}

/* .info {
    grid-column: 2/3;
    margin: 0;
} */

.info p {
    display: flex;
    flex-direction: column;
    grid-column: span 3;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    font-weight: 700;
}

.map {
    position: relative;
    float:left;
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
}

.form-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    padding: .25rem;
    width: 90%
}

.col1 {
    grid-column: span 1;
    text-align: center;
    margin: .25rem;
    order: -1;
}

input[type="text"],
input[type="email"], 
input[type="number"] {
    border-radius: .25rem;
    border: 1px solid var(--accent1-color-bk);
    padding: .25rem;
}

.purpose {
    grid-column: 2;
    grid-template-columns:30px 2fr;
    text-align: left;
    color: var(--primary-color);
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin: 5px 10px 5px 10px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align:bottom;
}

.subscribe {
    margin-left: 15px;
    grid-template-columns: 30px 1fr;
}

/* input[type="text"], 
input[type="radio"] {
    width: 70%;
    grid-column: span;
} */


.serve {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding-left: 100px; */
    width: 840px;
    background-color: var(--secondary-color);
}

.serve h2{
    grid-column: span 3;
}

.serve figure {
    display: inline-block;
    padding-left: 70px;
}

.serve img {
    width: 150px;
}

.serve figcaption {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}