* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --primary-color: rgb(39, 1, 66);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:lavenderblush;
    color: var(--primary-color);
    font-size: 1.2em;
}

header {
    margin: 0 auto;
    width: 655px;

}

h1 {
    margin: 1rem;
    font-size: 1.75;
    text-align: center;
}

form {
    width: 655px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    display: grid;
    background-color: lavender;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(39, 1, 66/ 0.7);
    background-color: rgb(241, 241, 255);
}

legend {
    font-weight: 600;
    padding: .2rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding:.25rem;
    font-size: 1rem;
}

select {
    width: 95px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align:bottom;
}

textarea {
    margin: 5px;
    /* width:328px; */
}

button {
    width: 218px;
    margin: 1rem;
    background-color: var(--primary-color);
    color: lavenderblush;
    border: none;
    border-radius: .25rem;
    padding: .5rem;
    font-size: 1.5rem;
    text-align: center;
}

button:hover {
    background-color: mediumslateblue;
}

footer {
    display: flex;
    place-content: center;
    padding: .5rem;
}

footer p {
    margin: 1rem 0 auto;
    width: 635px;
    text-align: center;
    font-size: .8em;
    padding-top: .25rem;
    border-top: 1px solid var(--primary-color);
}

/* Class Selectors */

.form-item {
    display:grid;
    align-items:center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin:.25rem;
}

.places {
    grid-template-columns: 1fr 2fr;
    padding-left: 150px;
    margin: .25rem;
}

/* .entry {
    columns: span 3;
} */