* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(10, 10, 77);
    --border-typical: 1px solid rgb(10, 10, 77);
    --typical-box-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: mintcream;
    display: block;
    /* padding: 10px; */
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.grid{
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-typical);
    padding: 2px;
    box-shadow: var(--typical-box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    padding: 0px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border-typical);
    box-shadow: var(--typical-box-shadow);

}

aside h2 {
    position: absolute;
    top: 25px;
    left: 135px;
}

footer {
    margin-top: 10px;
    border-top: 1px dotted var(--main-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 139 / 0.1);
    padding: 1rem;
    background-color: mintcream;
    color: rgb(2 2 38);
}

.indent {
    padding-left: 2rem;
}